
<html>
  <head>
  	  <titlt>home page</title>
  	  	<style>
        
  	  	  #form{
  	  	  	
  	  	    height:200px;
  	  	    width:200px;
  	  	    border:5px orange;
  	        border-color:orange;
  	        margin-left: 520px
  	           }
  	        table,th,td{
  	       	border:1px solid black;
  	       	border-collapse: collapse; 
            
  	                   } 
  	        table{  
            border: 10px solid blue;         
  	       	height:400px;
  	  	    width:400px;
  	  	    margin-left: 420px
  	            }  
  	         th{
  	         	text-align: left;
  	            }

  	         div{
  	         	height:450px;
  	         	width:400px;
  	         	
  	            }   
  	         table#div{
  	         	      background-color: red;
  	                  }
  	        div#header{
  	        	      background-color: red;
  	        	      padding: 10px;
  	        	      height:100px;
  	        	      width:400px;
  	        	      text-align: center;
    	              }
    	    div#nav{
    	    	    background-color: lightgrey; 
    	    	    padding:10px;
    	    	    height:300px;
    	    	    width:150px;
    	    	  } 
    	    div#section{
    	         	background-color: lightgrey; 
    	    	    padding:10px;
    	    	    height:300px;
    	    	    width:250px
                border-collapse:collapse;
                left-margin:0px;
                text-align: justify;
    	    	     }
    	    div#footer{
    	    	      background-color: red;
  	        	      padding: 10px;
  	        	      height:50px;
  	        	      width:400px;
  	        	      text-align: center;
    	              }

    	    div#img{
                 background-color:grey;
                 height: 50px;
                 width:250px;
                 border:25px solid blue;
                 padding:25px;
                 border-spacing: 0px;
                 } 
          iframe{
                
                margin-left: 555px;
                border: 10px solid blue;
          }    
  	    </style> 
    </head>
  <body  style="background-color:#00ffff">	
  	<h1>MY HOME PAGE</h1>
    <h5><p>this is my <mark>first </mark>view</p></h5>
    <div id="form">
      <form action="https://www.google.co.in/?">
        <fieldset>
    	  <legend> <h1 style= "text-align:center">user information</h1></legend>
    	    user name </br>
    	    <input tyoe ="text" name ="uname" ><br/>
    	    password </br>
    	    <input type="password" name="pwd"><br/>
    	    <h3>gender:</h3>
    	    <input type="radio" name="sex" value="male" >Male
            <br>
            <input type="radio" name="sex" value="female">Female<br>
            <h2>selected car is </h2>
            <select name="cars">
               <option value="volvo">Volvo</option>
               <option value="saab">Saab</option>
               <option value="fiat">Fiat</option>
               <option value="audi">Audi</option>
            </select><br><br>
            <button type="button" onclick="alert('Hello World!')">yahoo</button>
    	    <input type="submit" value="Submit">
    	
        </fieldset>
      </form>
    </div>
    <pre><em><b>      hello
    	  this is 
    	  my first
    	  view of rails</b></em></pre> 
   	<a href="https://www.google.co.in/?gfe_rd=cr&ei=Yjc4VqriPKHv8wezmoF4">
    <img src="images.jpeg" " width="104" height="142"> </a>
    <p> by click on <em>image</em>i we have goto google</p>
    <img src="programming.gif" height="100" width="100">

    <table>
      <caption><h2>employee_record</h2></caption>
        <tr>
    	  <th>id</th>
    	  <th colspan=2>emp_dept</th>
    		
        </tr> 
        <tr>
          <td>1</td>
          <td>ram</td>
          <td>developer</td>
        </tr>
        <tr>
          <td>2</td>
          <td>shyam</td>
          <td>tester</td>
        </tr>
    </table><br>
    <div>
    	<table id="div" width="400px" background-color="red"s>
    	   <tr>
    	     <td   width="500px" colspan=2>
               <div id="header">
    	         <h1> ruby on rails<h2>
    	  	   </div>
    	     </td>
    	   </tr>
           <tr>
             <td   width="100px" border-space="collapse">
               <div id ="nav">
                 <h3>ruby</h3>
                 <h3>rails</h3>
                 <h3>postgresql</h3>
               </div>
             </td>
             <td     width="200px">
               <div  id="section">
                 <p>ruby is a object oriented programming language.</p>
                 <p>rails provides the framework for developing web application using ruby programming language</p>
                 <p>postgresql is a structure query language</p>
               </div>
             </td>
           </tr>
           <tr>
	         <td   width="400px" colspan=2>
               <div id="footer">
                 <a href="http://www.w3schools.com/">w3school.com</a>
               </div> 
             </td>  
           </tr>       		
        </table>
    <div><br>
    <iframe src="http://www.w3schools.com/" width="500px" height="200px"></iframe> 
    
   <!-- helo i am not execute bcz i am comment --> 
   <img src="images1.jpeg" width="350px" height="200px">
   <div id="img">
     this img width is 350px and height 200px.</div><br><br> 

    <table >
      <caption><h3>Employee_record</h3></caption>
      <tr>
        <th>name</th>
        <th>address</th>
        <th>gender</th>
      </tr>
   
     <% @employee.each do |i| %>
       <tr>
         <td><%= i.name%></td>
         <td><%= i.address%></td>
         <td><%= i.gender%><br></td>
       </tr>   
     <% end %>
    </table> <br><br>   
  </body>
</html>    