hello
<html>
  <head>
  	  <titlt>home page</title>
  	  	<style>
  	  	  #form{
  	  	    height:200px;
  	  	    width:200px;
  	  	    border:1;
  	        border-color:orange;
  	        margin-left: 520px
  	           }
  	       table,th,td{
  	       	border:1px solid black;
  	       	border-collapse: collapse;
  	                   }
  	        table{           
  	       	height:200px;
  	  	    width:200px;
  	  	    margin-left: 520px
  	            }  
  	         th{
  	         	text-align: left;
  	            }     
  	    </style>
  </head>
  <body  style="background-color:purple">	
  	<h1>MY HOME PAGE</h1>
    <h5><p>this is my <mark>first </mark>view</p></h5>
  <div id="form">
    <form action="https://www.google.co.in/?">
    	<fieldset>
    		<legend> <h1 style= "text-align:center">user information</h1></legend>
    	    user name </br>
    	    <input tyoe ="text" name ="uname" ><br/>
    	    password </br>
    	    <input type="password" name="pwd"><br/>
    	    <h3>gender:</h3>
    	    <input type="radio" name="sex" value="male" >Male
            <br>
            <input type="radio" name="sex" value="female">Female<br>
            <h2>selected car is </h2>
             <select name="cars">
               <option value="volvo">Volvo</option>
               <option value="saab">Saab</option>
               <option value="fiat">Fiat</option>
               <option value="audi">Audi</option>
             </select><br><br>
            <button type="button" onclick="alert('Hello World!')">yahoo</button>
    	    <input type="submit" value="Submit">
    	
        </fieldset>
    </form>
</div>
    <pre><em><b>      hello
    	  this is 
    	  my first
    	  view of rails</b></em></pre>
   	<a href="https://www.google.co.in/?gfe_rd=cr&ei=Yjc4VqriPKHv8wezmoF4">
    <img src="images.jpeg" " width="104" height="142"> </a>
    <p> by click on <em>image</em>i we have goto google</p>
    <img src="programming.gif" height="100" width="100">

    <table>
    	<caption><h2>employee_record</h2></caption>
    	<tr>
    		<th>id</th>
    		<th colspan=2>emp_dept</th>
    		
        </tr> 
        <tr>
        	<td>1</td>
        	<td>ram</td>
        	<td>developer</td>
        </tr>
        <tr>
        	<td>2</td>
        	<td>shyam</td>
        	<td>tester</td>
        </tr>
    </table>

    
  </body>
</html>    